/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/resources/template_web/video
/resources/template_web/media
/public/web
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.html
